[Desktop Entry]
Name=RBDoom3BFG
Comment=A modernization effort of DOOM-3-BFG
Exec=RBDoom3BFG
Terminal=false
Type=Application
Categories=Game;
Icon=io.github.RobertBeckebans.RBDoom3BFG
